/*header*/

.jumbotron {
  background-color: black;
  padding-top: 0%;
  background-attachment: fixed;
  text-align: center;
  background-repeat: no-repeat;
  font-family: serif;
  color: white;
}

/*end of header*/

/*Rules*/

.rules {
  color: #AF37C6;
}

/*End of Rules*/

/*button*/

#button {
  width: 800px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

/*end of button*/

#open-menu, #close-menu {
  position: absolute;
  font-size: 300%
}

body {
  background-image: url("../images/pingpong.png");
}
