/*header*/

.jumbotron {
  background-color: black;
  padding-top: 0%;
  background-attachment: fixed;
  text-align: center;
  background-repeat: no-repeat;
  font-family: serif;
  color: white;
}

/*end of header*/

/*Rules*/

.rules {
  color: #EF2917;
}

/*End of Rules*/

/*button*/

#button {
  width: 800px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

/*end of button*/

#open-menu, #close-menu {
  position: absolute;
  font-size: 300%
}

body {
  background-image: url("../images/pingpong.png");
}

#footer {
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-left: 2%
}

.result {
  box-shadow: inset 0 0 50px #000000;
  float: left;
  color: #EF2917;
  background-color: white;
  text-align: center;
  width: 250px;
  height: 250px;
  margin-left: 12%;
  overflow: auto;
  position: absolute;
}

.result1 {
  overflow: auto;
}

li.co-result {
  list-style-type: none;
  overflow: auto;
}
